    input[type="date"],
      input[type="time"] {
        height: 38px;
        padding: 6px 10px;
        background-color: #fff;
        border: 1px solid #D1D1D1;
        border-radius: 4px;
        box-shadow: none;
        box-sizing: border-box;
      }

      

      .button.eliminar,
      .button.eliminar:hover {
        background-color: #c10059;
        color: white;
        margin-top: 2rem;
      }
.alerta-error {
  background-color: #c10059; 
  color: white; 
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Staatliches', cursive;
  border-radius: 5px;
}
      

.formOnErrorMessage{
  color:white
}